

body, html{
	height:100%;
}

.wrapper {
 	display: flex;
  	flex-direction: column;
  	height: 100%;
}
.content {
  	flex: 1 0 auto;
}
.footer {
  	flex: 0 0 auto;
}
.vertical-align{
	vertical-align:middle;
}
body{
	font-family: Arial, sans-serif;
	color:#f0f0f0;
	font-size: 14px;
	line-height: 18px;
	background: #131313;
}
.content-part{
	p{
		margin-bottom: 20px;
	}
	i{
		font-style: italic;
		color: #ff9c9c;
	}
	a{
		color: #ff9c9c;
		font-weight: bold;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
	b, strong{
		color: #f49595;
	}
}
.common-title{
	color: #c52323;
	font-family: Roboto;
	text-transform: uppercase;
}
.common-title_main{
	display: block;
	position: relative;
	font-size: 20px;
	text-align: center;
	padding-bottom: 37px;
	&:before{
		position: absolute;
		content: "";
		height: 1px;
		width: 100%;
		background: #1f1f1f;
		top: 35px;
		left: 50%;
		transform: translate(-50%, 0);
		@media screen and (min-width: 992px) {
			width: 414px;
		}
	}
	&:after{
		position: absolute;
		content: "";
		height: 1px;
		width: 135px;
		background: #c52323;
		top: 35px;
		left: 50%;
		transform: translate(-50%, 0);
	}
	
}