

body, html{
	height:100%;
}

.wrapper {
 	display: flex;
  	flex-direction: column;
  	height: 100%;
}
.content {
  	flex: 1 0 auto;
}
.footer {
  	flex: 0 0 auto;
}
.vertical-align{
	vertical-align:middle;
}
body{
	font-family: Arial, sans-serif;
	color:#f0f0f0;
	font-size: 14px;
	line-height: 18px;
	background: #131313;
}
.header-bottom{
	margin-bottom: 40px;
}
.content-part{
	p{
		margin-bottom: 20px;
	}
	i{
		font-style: italic;
		color: #ff9c9c;
	}
	a{
		color: #ff9c9c;
		font-weight: bold;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
	b, strong{
		color: #f49595;
	}
}
.headline-box{
	width: 100%;
	background: #000;
	padding: 18px 30px 0px 30px;
	min-height: 50px;
}
.common-title{
	color: #c52323;
	font-family: Roboto;
	text-transform: uppercase;
}
.common-title_main{
	display: block;
	position: relative;
	font-size: 20px;
	text-align: center;
	padding-bottom: 37px;
	&:before{
		position: absolute;
		content: "";
		height: 1px;
		width: 100%;
		background: #1f1f1f;
		top: 35px;
		left: 50%;
		transform: translate(-50%, 0);
		@media screen and (min-width: 992px) {
			width: 414px;
		}
	}
	&:after{
		position: absolute;
		content: "";
		height: 1px;
		width: 135px;
		background: #c52323;
		top: 35px;
		left: 50%;
		transform: translate(-50%, 0);
	}
	
}
.common-title_sidebar-direct{
	display: inline-block;
	position: relative;
	font-size: 16px;
	&:after{
		position: absolute;
		content: "";
		height: 1px;
		width: 100%;
		background: #c52323;
		top: 30px;
		left: 50%;
		transform: translate(-50%, 0);
		z-index: 45;
	}
}
.common-title_sidebar-traeng{
	position: relative;
}
.common-title_sidebar-traeng:before{
	position: absolute;
	content: "";
	height: 8px;
	width: 11px;
	background: url(../img/traeng.png) no-repeat top center;
	top: 29px;
	left: 44px;
	z-index: 50;
}
.sidebad-menu{
	display: block;
	width: 100%;
	background: #1b1b1b;
	margin-bottom: 34px;
	padding: 20px 0px;
	li{
		width: 100%;
		
		a{
			display: inline-block;
			width: 100%;
			padding: 10px 0px;
			font-family: Roboto;
			font-size: 15px;
			color: #fff;
			&:hover{
				background: #c52323;
			}
			span{
				padding: 0px 30px 0px 30px;
			}
		}
	}
}
.tovar-item{
	width: 100%;
	background: #1b1b1b;
	color: #fff;
	text-align: center;
	font-family: Roboto;
	padding: 10px;
	padding-bottom: 20px;
	margin-bottom: 19px;
	transition:0.5s;
	a{
		color: #fff;
	}
	.tovar-item_imgbox{
		z-index: 4;
		&:hover{
			position: relative;
			transition:0.5s;
		}
		&:hover:after{
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			//background: red;
			//background: linear-gradient(to top left, #fefcea, #f1da36), rgba(#fff, 0.5);
			background-image: -webkit-gradient(linear, top left, right bottom, from(rgba(50,50,50,0.8)),  to(rgba(80,80,80,0.2)), color-stop(.5,#333333));
			background-image: -moz-linear-gradient(to top left, rgba(#232221, 0.6) 0%, rgba(#c52323, 0.6) 95%);
			background: rgb(30,87,153);
background: -moz-linear-gradient(-45deg,  rgba(30,87,153,0.5) 0%, rgba(197,35,35,0.5) 0%, rgba(40,40,40,0.5) 100%, rgba(32,124,202,0.5) 100%);
background: -webkit-linear-gradient(-45deg,  rgba(30,87,153,0.5) 0%,rgba(197,35,35,0.5) 0%,rgba(40,40,40,0.5) 100%,rgba(32,124,202,0.5) 100%);
background: linear-gradient(135deg,  rgba(30,87,153,0.5) 0%,rgba(197,35,35,0.5) 0%,rgba(40,40,40,0.5) 100%,rgba(32,124,202,0.5) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#207cca',GradientType=1 );

			top: 0px;
			left: 0px;
			z-index: 10;
		}
		margin-bottom: 14px;
		img{
			width: 100%;
			height: auto;
		}
	}
	.tovar-item_title{
		display: block;
		margin: 0 auto;
		text-transform: uppercase;
		font-size: 14px;
		strong{
			font-weight: normal;
			color: #c52323;
		}
	}
}
.right-sidebar{
	.headline-box{
		margin-bottom: 29px;
	}
}
.tovar-item_description_underline{
	position: relative;
}
.tovar-item_description_underline:after{
	position: absolute;
	content: "";
	height: 1px;
	width: 87px;
	background: #c52323;
	top: 35px;
	left: 50%;
	transform: translate(-50%, 0);
	
}