include includes/mixins.pug
doctype html
html(lang="ru-RU")
	head
		meta(charset="UTF-8")
		meta(name="viewport" , content="width=device-width, initial-scale=1")
		title Главная
		include includes/links.pug
	body
		.wrapper
			.content
				.header
					include includes/header.pug
				.container
					.row
						.col-md-2
							- var menulist = ["Bangkon eccorts", "All Ecsorts", "All Girls", "All Ladyboys", "Rates&Services", "Booking"];
							+SidebarBlock('Excorts by location', menulist)
						.col-md-10
						.col-md-2
			.footer
				include includes/footer.pug