include includes/mixins.pug
doctype html
html(lang="ru-RU")
	head
		meta(charset="UTF-8")
		meta(name="viewport" , content="width=device-width, initial-scale=1")
		title Главная
		include includes/links.pug
	body
		.wrapper
			.content
				.header
					include includes/header.pug
				.container
					.row
						.col-md-3
							include includes/left_sidebar.pug
						.col-md-6
							.content-part
								p.
									Welcome to Escort-Bangkok.com, an exclusive Bangkok escort agency in Thailand providing elite and amazing <i>GFE (Girlfriend Experience)</i> companions for both men and women. Escort-Bangkok.com is the only place where you can find the sexiest and most seductive <i>Bangkok Escorts</i>, Thailand Escorts and <i>International Escorts</i> available. Our sweet, sexy GFE <i>escort girls</i> and kinky Bangkok Ladyboy escorts (Shemales) companions can be booked either over the phone, using the numbers listed above or booked through our online <i>Bookings Portal.</i>
								p.
									As you can see from the images on our site, our <i>busty escort girls</i> and <i>Ladyboys (Shemales)</i> are the cutest, sexiest and the most erotic kinky companions available in all of Thailand. Our <i>Thai girls</i> and <i>Ladyboy</i> escorts love to dress up in sexy lingerie and kinky costumes to tease and titillate you with their incredible young bodies, sexy long legs and amazing perky breasts. Besides looking hot, our Thailand call girls and Bangkok Ladyboys are really fun to be around and have fantastic personalities. Many of our <i>Bangkok escort girls</i> and Ladyboys (Shemales) are highly educated university graduates, some who have studied in the USA and UK and are looking to have an exciting sexual encounter with a distinguished gentleman or couple.
								p.
									When you make your booking with Escort-Bangkok.com you can be sure that your time spent with our Thailand outcall escorts will be an unforgettable and wonderful experience!
							- var list = ["A 7 day advance notice.", "A minimum of a 7 day booking.", "Full payment of the escort’s services is required in advance.", "All travel costs for the escort is paid by the client. (From and back to Thailand)", "All visa processing costs (if any) are paid by the client in advance.", "International rate per day is 20,000 THB.", "International areas serviced are: China, Hong Kong, Japan, Vietnam, Cambodia, Singapore, Malaysia, Indonesia and Laos."];
							+ulli(list, 'ul-red')
						.col-md-3
			.footer
				include includes/footer.pug