include includes/mixins.pug
doctype html
html(lang="ru-RU")
	head
		meta(charset="UTF-8")
		meta(name="viewport" , content="width=device-width, initial-scale=1")
		title Главная
		include includes/links.pug
	body
		.wrapper
			.content
				.header
					include includes/header.pug
				.container
					.row
						.col-md-3
							include includes/left_sidebar.pug
						.col-md-6
							.content-part
								include includes/main_page_part.pug
						.col-md-3
			.footer
				include includes/footer.pug