doctype html
html(lang="ru-RU")
	head
		meta(charset="UTF-8")
		meta(name="viewport" , content="width=device-width, initial-scale=1")
		title Главная
		include includes/links.pug
	body
		div.wrapper
			div.content
				div.header
					include includes/header.pug
			div.footer
				include includes/footer.pug