include includes/mixins.pug
doctype html
html(lang="ru-RU")
	head
		meta(charset="UTF-8")
		meta(name="viewport" , content="width=device-width, initial-scale=1")
		title Главная
		include includes/links.pug
	body
		.wrapper
			.content
				.header
					include includes/header.pug
				.container
					.row
						.col-md-2
							include includes/left_sidebar.pug
						.col-md-10
							- var list = ["A 7 day advance notice.", "A minimum of a 7 day booking.", "Full payment of the escort’s services is required in advance.", "All travel costs for the escort is paid by the client. (From and back to Thailand)", "All visa processing costs (if any) are paid by the client in advance.", "International rate per day is 20,000 THB.", "International areas serviced are: China, Hong Kong, Japan, Vietnam, Cambodia, Singapore, Malaysia, Indonesia and Laos."];
							+ulli(list, 'red')
						.col-md-2
			.footer
				include includes/footer.pug