- for(var i = 0; i < 4; i++)
	.col-md-3.col-sm-6.col-xs-12
		+tovarItem('g11.jpg', 'NANA <strong>AGE: 25</strong>', 'Sexy, Slim & Busty', 'false', 'true', 'true')
	.col-md-3.col-sm-6.col-xs-12
		+tovarItem('g10.jpg', 'NANA <strong>AGE: 25</strong>', 'Sexy, Slim & Busty', 'false', 'true', 'true')
	.col-md-3.col-sm-6.col-xs-12
		+tovarItem('g12.jpg', 'NANA <strong>AGE: 25</strong>', 'Sexy, Slim & Busty', 'false', 'true', 'true')
	.col-md-3.col-sm-6.col-xs-12
		+tovarItem('g13.jpg', 'NANA <strong>AGE: 25</strong>', 'Sexy, Slim & Busty', 'false', 'true', 'true')
	.clearfix
