+HeadLine('The Hottest Bangkok Escorts are Waiting for You!', 0)
p.
	<span class="filled">THANK YOU FOR CHOOSING ESCORT-BANGKOK.COM</span>
p.
	Making Your Booking:
p.
	For advanced bookings and special requests please fill out the form below or email us at: <a href="#">bookings@escort-bangkok.com</a>
p
	strong
		For For same day or short notice bookings, please contact us by phone for immediate support
p.
	<span class="phone-text">Local Call:  <span>080-000-0000</span></span>
	<span class="phone-text">International:  <span>+66 08-000-0000</span></span>
p.
	<strong>A minimum of a 2 hour notice is required to allow the escort time to prepare and travel to meet you.</strong>
p
	form
		.input-box
			input(type="text")
			span.
				Your 1st Choice {Name of Escort(s)} <strong>(Required):</strong>
		.input-box
			input(type="text")
			span.
				Your Alternative 2nd Choice {Name of Escort(s)}:
		.input-box
			input(type="text")
			span.
				Your Full Name as Listed on Hotel Booking <strong>(Required):</strong>
		.input-box
			input(type="text")
			span.
				Your Telephone Number with Country Code:
		.input-box
			input(type="text")
			span.
				Your Email Address <strong>(Required):</strong>
		.input-box
			input(type="text")
			span.
				Date of Booking <strong>(Required):</strong>	
		.input-box
			input(type="text")
			span.
				Time for Booking to Start <strong>(Required):</strong>		
		.input-box
			input(type="text")
			span.
				Length of Booking <strong>(Required):</strong>	
		.input-box
			input(type="text")
			span.
				Hotel Name & Address <strong>(Required):</strong>	
		.input-box
			input(type="text")
			span.
				Room Number (If Available):	
		.input-box
			input(type="text")
			span.
				Special Requests (If Any):

		button(class="button", href="#") Send booking  Request
