.container
	.row
		.col-sm-12.col-md-6
			p текст
		.col-sm-12.col-md-6
		.clearfix
- var menulist = ["Home", "All Ecsorts", "All Girls", "All Ladyboys", "Rates&Services", "Booking"];
ul.main-menu
	for item in menulist
		li
			a(href="#")=item

