div.container
	div.row
		div(class="col-sm-12 .col-md-6")
			p текст
		div(class="col-sm-12 .col-md-6")
		div.clearfix	



- var menulist = ["Home", "All Ecsorts", "All Girls", "All Ladyboys", "Rates&Services", "Booking"];
ul.main-menu
	for item in menulist
		li
			a(href="#")=item

