- var menulist1 = ['Bangkok escorts', 'Chaing mai escorts', 'Hua hin escorts', 'International escorts', 'Pattaya escorts'];
- var menulist2 = ['A-level escorts', 'Bachelor parties', 'Bisexual girls', 'Busty escorts', 'Cim escorts', 'Dominatrix escorts', 'Duo escorts','Duo gallery','Escorts for couples','Escorts for  orgies','Escorts for  roleplay','GFE escorts','International bookings','Ladyboy & girl duo','Ladyboy escorts','New escorts','Nuru massage','Petite escorts','Prostate massage','Soapy massage','Special massage','Tall escorts','Thai body to body  massage','Thai oil massage','Thai testicle massage','VIP escorts']
- var menulist3 = ['Escort Friendly Hotels in ', 'Bangkok Thailand'];
+SidebarBlock('ESCORTS BY LOCATION', menulist1)
+SidebarBlock('ESCORTS BY TYPE', menulist2)
+SidebarBlock('LATEST NEWS', menulist3)
