+HeadLine('Escort Bangkok Rates & Services', 0)
p
	a(href="#")
		OPEN 7 DAYS A WEEK FROM 12:00PM TO 02:00AM 
	br
	Update 15 Julie 2017
- var list =[["Duration of Booking", "Rates Listed are in Thai Baht (THB)"],["2 Hours", "8,000 THB"],["4 Hours", "10,000 THB"],["10 Hours", "15,000 THB"],["24 Hours", "20,000 THB"],["4 Days or More (price listed is for each day)", "16,000 THB  *Discounted Rate"]]
+rate('Escort Rates', '', "Discounted rates are applied when booking with same escort only.", list)

- var list =[["Duration of Booking", "Rates Listed are in Thai Baht (THB)"],["2 Hours", "8,000 THB"],["4 Hours", "10,000 THB"],["10 Hours", "15,000 THB"],["24 Hours", "20,000 THB"],["4 Days or More (price listed is for each day)", "16,000 THB  *Discounted Rate"]]
+rate('VIP Escort Rates', '(VIP Escorts Require a 24 Hour Advance Booking)', "Discounted rates are applied when booking with same escort only.", list)