.headline-box
		+HeadLine('FEATURED ESCORTS', 1)
+tovarItem('g7.jpg', 'NANA <strong>AGE: 25</strong>', 'Sexy, Slim & Busty', 0)
+tovarItem('g8.jpg', 'NANA <strong>AGE: 25</strong>', 'Sexy, Slim & Busty', 0)
+tovarItem('g9.jpg', 'NANA <strong>AGE: 25</strong>', 'Sexy, Slim & Busty', 0)
+tovarItem('g7.jpg', 'NANA <strong>AGE: 25</strong>', 'Sexy, Slim & Busty', 0)
+tovarItem('g8.jpg', 'NANA <strong>AGE: 25</strong>', 'Sexy, Slim & Busty', 0)
+tovarItem('g9.jpg', 'NANA <strong>AGE: 25</strong>', 'Sexy, Slim & Busty', 0)
+tovarItem('g7.jpg', 'NANA <strong>AGE: 25</strong>', 'Sexy, Slim & Busty', 0)
+tovarItem('g8.jpg', 'NANA <strong>AGE: 25</strong>', 'Sexy, Slim & Busty', 0)
