.right-sidebar
	.headline-box
			+HeadLine('FEATURED ESCORTS', 2)
	+tovarItem('g7.jpg', 'NANA <strong>AGE: 25</strong>', 'Sexy, Slim & Busty', 'false', 'false')
	+tovarItem('g8.jpg', 'NANA <strong>AGE: 25</strong>', 'Sexy, Slim & Busty', 'false', 'false')
	+tovarItem('g9.jpg', 'NANA <strong>AGE: 25</strong>', 'Sexy, Slim & Busty', 'false', 'false')
	+tovarItem('g7.jpg', 'NANA <strong>AGE: 25</strong>', 'Sexy, Slim & Busty', 'false', 'false')
	+tovarItem('g8.jpg', 'NANA <strong>AGE: 25</strong>', 'Sexy, Slim & Busty', 'false', 'false')
	+tovarItem('g9.jpg', 'NANA <strong>AGE: 25</strong>', 'Sexy, Slim & Busty', 'false', 'false')
	+tovarItem('g7.jpg', 'NANA <strong>AGE: 25</strong>', 'Sexy, Slim & Busty', 'false', 'false')
	+tovarItem('g8.jpg', 'NANA <strong>AGE: 25</strong>', 'Sexy, Slim & Busty', 'false', 'false')
